<h1>Войти в систему</h1>

<form method="post" action="/User/Login/">
    <input type="text" placeholder="Username" name="username" autocomplete="username" />
    <input type="text" placeholder="Password" name="password" autocomplete="current-password" />
    <input type="submit" value="Войти" />
</form>
