.settings {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 100%;
}

.username-settings {
  background-color: aquamarine;
  margin: 0px 10px;
  border-radius: 5px;
}

.button-settings {
  border-radius: 10px;
}